.search {
  text-align: center;
}

.search-input {
  font-size: 1.1rem;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #646464;
  background: none;
  outline: none;
  transition: 0.4s ease;

}

::placeholder {
  color: rgba(0, 0, 0, 0.301);
}