.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; 
  max-width: 600px;
  height: 300px;
  margin: 20px auto 20px auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  text-align: left;
  border-radius: 12px;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

.container.rain {
  background-image: url('../assets/rain.jpg');
}

.container.clear {
  background-image: url('../assets/clear-warm.jpg');
}

.container.clouds {
  background-image: url('../assets/pexels-konevi-3789871.jpg');
}

.container.drizzle {
  background-image: url('../assets/drizzle.jpg');
}

.container.fog {
  background-image: url('../assets/fog.jpg');
}

.container.haze {
  background-image: url('../assets/haze.jpg');
}

.container.mist {
  background-image: url('../assets/mist.jpg');
}

.container.snow {
  background-image: url('../assets/snow.jpg');
}

.container.thunderstorm {
  background-image: url('../assets/thunderstorm.jpg');
}

.top {
  width: 100%;
  margin: 0px auto 0px auto;
}

.description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.temp {
  padding-top: 20px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 0px auto 20px auto;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.delete-icon {
  margin-top: 13px;
  cursor: pointer;
}

.icons {
  text-align: right;
  flex-basis: 10px;
  height: 5px;
  margin: 5px;  
}

