body {
  background: linear-gradient(
    90deg,
    #f5f7fa,
    #c3cfe2
  );  
}

p {
  font-size: 1.0rem;
}

h1 {
  font-size: 5rem;;
}

.bold {
  font-weight: 700;
}

.spinner-div {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.error {
  display: grid;
  place-items: center;
  margin: 0;
}

.card-container {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 80px;
  z-index: 999;

}

.header-left {
  display: flex;
  align-items: center;
}

.logo-icon {
  object-fit: contain;
  color: rgb(19, 193, 236);
  font-size: 70px !important;
  position: absolute;
  left: 2%;

}

.header-search {
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.8);
  height: 50px;
  border-radius: 5px;
  padding: 15px;  
}

.search-icon {
  font-size: 30px !important;
  color: grey;
}

.header-center {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  float: right;
  justify-content: right;

}

.menu-icon {
  display: flex;
  color: grey;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: 40px !important;

}

.menu-icon:hover {
  color: black;
}
